target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# project
node_modules

# build
dist/
coverage

# temp and sys
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
*.log

# other
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo


